section{
  border: 1px solid aqua;
  margin: 80px 350px;
  display: block;
border-radius: 10px;
  background: linear-gradient(0.3deg, rgb(30, 161, 239) 0.9%, rgb(49, 46, 252) 88.6%);
} 
body{
 background-color:whitesmoke

 
  }
h1.main-title{
  text-align: center;
  font-size: 40px;
padding: 4px;
color:#6aeeff
}

#search-box{
  padding: 15px;
  margin: 0 20px;
  border-radius: 4px;
  font-size: 15px;
  width: 70%;
  right: 600px;
}
#search-button{
  color: whitesmoke;
  font-size: 15px;
    padding: 15px;
  border: 1px solid aqua;
  border-radius:  6px;
  margin-left: 40px;
  background: linear-gradient(179.2deg, rgb(21, 21, 212) 0.9%, rgb(53, 220, 243) 95.5%);  
  right: 640px;
  opacity: 0.8;
}
#search-button:hover{
  opacity: 1;
  transition: all ease-in-out 150ms;
  border: 2px solid black;
}
h1.city-name{
  font-size: 50px;
  padding-left: 50px;
  padding-top: 20px;
  margin: 0px;
  text-align: left;
  width: 70%;

}
div.main-weather-info{
  font-size: 100px;
    text-align: left;
    padding-left: 130px;
    width: 90%;

}
div.other-weather-info{
 margin-top: 10px;
 font-size: 20px;
 padding: 10px;
 width: 60%;
 text-align: justify;
 line-height: 1.5;
 padding-left: 50px;
  
}

#temp-value{
  font-weight: 600;
  font-size: 80px;
  
}
#temp-unit{
  font-size: 40px;
  position: relative;
  bottom: 27px;
}
span#icon{
  position: relative;
  width: 80px;
  height: 120px;
  top: 20px;
  display: inline-block;
}
.forecast{
display: flex;
justify-content: space-around;
margin-top: 30px;
}
.forecast-day{
  text-align: center;

  font-size: 25px;
  font-weight: 700;
}
.forecast-icon{
  padding: 10px 0 ;
  font-size: 40px;
  text-align: center;
}
.forecast-temperature{
  font-size: 20px;
  text-align: center;
}
footer{
  padding:10px 30px;
  opacity: 0.8;
  text-align: center;
  font-size: 17px;
}
#humidity-value, #wind-speed-value, #time{
  font-weight: 600;
}
